  <tr>
    <td class="align-middle pe-0" style="border-bottom-color: inherit;" >
      <img src="{{imgUrl}}" alt="" class=" border align-middle">
    </td>
        <td style="border-bottom-color: inherit;" class="align-middle">{{id}}</td>
    <td style="border-bottom-color: inherit;" class="align-middle">{{name}}</td>
   <td style="border-bottom-color: inherit;" class="align-middle">{{email}}</td>
  </tr>