<div class="table-responsive">
  <table class="table table-hover mb-0">
    <thead class="table-light text-muted" >
      <tr>
        <th scope="col" class="text-uppercase" style="border-bottom: 0 !important;" colspan="2">Product</th>
        <th scope="col" class="text-center text-uppercase" style="border-bottom: 0 !important;">Availability</th>
        <th scope="col" class="text-uppercase text-center" style="border-bottom: 0 !important;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each product}}
      {{> product-row imgUrl=imgUrl name=name stockCount=stockCountLevel total=price}}

      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4" class="text-center pt-3 pb-0" style="border-bottom: 0 !important;">
          <button class="btn btn-link text-center text-decoration-none text-primary">Show More</button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>