<div class="table-responsive">
  <table class="table table-hover mb-0">
    <thead class="table-light text-muted" >
      <tr>
        <th scope="col" class="text-uppercase" style="border-bottom: 0 !important;">Product</th>
        <th scope="col" class="text-center text-uppercase" style="border-bottom: 0 !important;">Availability</th>
        <th scope="col" class="text-uppercase text-center" style="border-bottom: 0 !important;">Total</th>
      </tr>
    </thead>
    <tbody>
      {{> product-row imgUrl="https://picsum.photos/42/42" name="iPhone 12 Pro Max" stockCount=320 total="$29192.00"}}
      {{> product-row imgUrl="https://picsum.photos/42/42" name="Samsung Galaxy S10+" stockCount=0 total="$29192.00"}}
      {{> product-row imgUrl="https://picsum.photos/42/42" name="Apple MacBook Pro (2020)" stockCount=3 total="$29192.00"}}
      {{> product-row imgUrl="https://picsum.photos/42/42" name="Canon EOS 1DX Mark II" stockCount=20 total="$29192.00"}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3" class="text-center pt-3 pb-0" style="border-bottom: 0 !important;">
          <button class="btn btn-link text-center text-decoration-none text-primary">Show More</button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>