  <tr>
    <td class="align-middle pe-0 border-top py-0" style="border-bottom-color: inherit;">
      <span class="fa-stack fa">
        <i class="fas fa-circle fa-stack-2x text-warning"></i>
        <i class="fa {{ getIcon dataType }} fa-stack-1x text-white"></i>
      </span>
      
    </td>
    <td class="align-middle ps-1 border-top py-0">
      <span class="">{{dataCount}} {{dataType}}</span>
    </td>
    <td class="align-middle text-end text-muted border-top py-0" style="border-bottom-color: inherit; font-size: 0.8125em">{{dataState}}</td>
  </tr>