<div class="table-responsive h-100 pb-5 overflow-hidden">
  <table class="table table-hover h-100">
    <tbody>
      {{> quick-details-row imgUrl="https://picsum.photos/42/42" dataType="customer" dataCount=240 description="New Customers" dataState="Last 24 Hours"}}
      {{> quick-details-row imgUrl="https://picsum.photos/42/42" dataType="order" dataCount=490 description="Orders" dataState="Awaiting Processing"}}
      {{> quick-details-row imgUrl="https://picsum.photos/42/42" dataType="order" dataCount=120 description="Orders" dataState="On Hold"}}
      {{> quick-details-row imgUrl="https://picsum.photos/42/42" dataType="product" dataCount=49 description="Products" dataState="Low in Stock"}}
    </tbody>
  </table>
</div>