<div class="container px-3 py-4 bg-white shadow-sm">
  <div class="row mb-4 pe-3">
    <div class="col">
      <h2 class="h4">Sales Report</h2>
    </div>
    <div class="col-2">
      <select class="form-select shadow-sm text-dark" aria-label="Default select example">
        <option selected>Last Week</option>
        <option>Last Month</option>
        <option value="1">Last 6 Months</option>
        <option value="2">Last 12 Months</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col" >
      <canvas id="salesChart"></canvas>
    </div>
  </div>
</div>
