{{!-- Sidebar --}}
<nav class="collapse sidebar active d-flex flex-column h-100 px-0 justify-content-between">
  {{!-- Top Section Wrapper --}}
  <div class="">
    <div class="sidebar-header shadow-sm px-3 text-light bg-dark d-flex flex-column justify-content-center">
        <h1 class="h2 fw-bold mb-0">IVY</h1>
    </div>
        {{!-- Top Menu-Item List --}}
    {{> menu }}
  </div>
  {{!-- Logo Wrapper --}}


  {{!-- Menu Wrapper --}}
  <div class=" d-flex flex-column h-100  justify-content-between">


    {{> menu-bottom }}
  </div>
  <button class="btn btn-dark rounded-0" id="sidebarToggler">
    <i class="fas fa-angle-double-left fa-lg text-muted"></i>
  </button>

</nav>