{{!-- Sidebar --}}
<nav class="sidebar">
  {{!-- Top Section Wrapper --}}
  <div class="sidebar-top">
    <div class="sidebar-header">
        <h1 class="brand">IVY</h1>
    </div>
        {{!-- Top Menu-Item List --}}
    {{> menu }}
  </div>
  {{!-- Logo Wrapper --}}


  {{!-- Menu Wrapper --}}
  <div class="sidebar-bottom">


    {{> menu-bottom }}
  </div>
  <button id="sidebarToggler">
  </button>

</nav>