<div class="container px-3 py-4 bg-white shadow-sm">
  <div class="row mb-4 pe-3">
    <div class="col">
      <h2 class="h4">Top Products</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col" >
      {{> products-table}}
    </div>
  </div>
</div>
