<div class="container px-0">
<div class="row mb-4">
  <div class="col">
    <h1>Overview</h1>
  </div>
  <div class="col text-end">
    <button class="btn btn-dark shadow">
      <span class="align-middle me-2"><i class="fas fa-plus"></i></span>New Order
    </button>
  </div>
</div>

{{!-- Stat Cards Wrapper --}}
  <div class="row mb-4 px-0">
    <div class="col-12 col-md-4 col-md-4 col-lg-4 mb-4">
      {{#> card heading="Pending Orders" statCard=true headingClass="stat-heading"}}
        {{> stat-summary  count="10" stat="13.8"}}
      {{/ card}}
    </div>
    <div class="col-12 col-md-4 col-lg-4 mb-4">
      {{#> card heading="Fulfilled Orders" statCard=true headingClass="stat-heading"}}
      {{> stat-summary title="Pending Orders" count="10" stat="13.8"}}
      {{/ card}}
    </div>
    <div class="col-12 col-md-4 col-lg-4 mb-4">
      {{#> card heading="Products Sold" statCard=true headingClass="stat-heading"}}
      {{> stat-summary title="Pending Orders" count="10" stat="13.8"}}
      {{/ card}}
    </div>
  </div>

{{!-- Sales Report Card Component --}}
<div class="row px-0 d-none d-lg-flex">
  <div class="col mb-4">
    {{#> card heading="Sales Revenue"}}
      {{> chart}}
    {{/ card}}
  </div>

</div>


<div class="row">
  <div class="col mb-4">
    {{!-- Top Products Component --}}
    {{#> card heading="Top Selling Products"}}
      {{> products-table}}
    {{/ card}}
  </div>
  <div class="col col-lg-4 mb-4">
    {{#> card heading="Quick Insights"}}
      {{> quick-details-table}}
    {{/ card}}
  </div>

</div>


</div>