<div class="container px-0">
<div class="row mb-4">
  <div class="col">
    <h1>Overview</h1>
  </div>
  <div class="col text-end">
    <button class="btn btn-lg btn-primary rounded-0 shadow">
      <span class="align-middle me-2"><i class="fas fa-plus"></i></span>New Order
    </button>
  </div>
</div>

{{!-- Stat Cards Wrapper --}}
  <div class="row mb-4 px-0">
    {{> stat-card title="Pending Orders" count="10" stat="13.8"}}
    {{> stat-card title="Fulfilled Orders" count="83" stat="13.8"}}
    {{> stat-card title="Products Sold" count="321" stat="13.8"}}
  </div>

{{!-- Sales Report Card Component --}}
{{> sales-report-card }}

<div class="row mb-4 px-0">
  <div class="col">
    {{!-- Top Products Component --}}
    {{> top-products-card}}
  </div>
  <div class="col col-lg-4">
    {{> quick-details-card}}
  </div>

</div>


</div>