//|| Bootstrap Variable Overrides

// Font
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Colors
$primary: #e09145;
$dark: #292c35;
$light: #f5f6fa;

// BG
$body-bg: #fafafa;
$bg-primary: #e09145;
$bg-danger: rgba(255, 114, 133, 0.2);
$bg-warning: rgba(255, 202, 131, 0.2);
$bg-success: rgba(105, 228, 166, 0.2);
$bg-light: #fafafa;

// Text
$text-muted: #bcbccb;
$text-danger: #ff4141;
$text-success: #3cc480;
